<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dragon_ball_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dragon_ball_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile"
        tools:targetApi="31" >
        <activity
            android:name=".SettingPackage.SuccessPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".SettingPackage.BuyingSubActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingPackage.BuyingCoinActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.InstructionItemContentActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.InstructionActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPackage.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/splashscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MangaDetailPackage.MangaDetailActivity"
            android:exported="true" />
        <activity
            android:name=".MangaDetailPackage.FavoriteDetailActivity"
            android:exported="true" />
        <activity
            android:name=".MangaDetailPackage.MangaReaderActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>